<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">







<div class="container">

	<h1>Add Sales Record</h1> <br><br>


	<form action="/addRecord" method="POST">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Region Name</label>
    <select class="form-control" id="exampleFormControlSelect1" name="regionName">
       <option value="">Add Region</option>
      <option value="northMumbai">North Mumbai</option>
      <option value="southMumbai">South Mumbai</option>
      <option value="naviMumbai">Navi Mumbai</option>
    </select>
  </div>
  <br>
  Date:<br>
  <input class="form-control" type="date" name="saleDate" placeholder="Date">
  <br>
  Total Sales :<br>
  <input class="form-control" type="number" name="saleAmount" placeholder="Sale Amount">
  <br>
  <br><br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form> 

</div>



